[default]
# A unique ID for each reader
uid = str

# Credentials used to fetch a JWT
username = str
password = str

# base url of the api
api_url = http(s)://domain.ext

# endpoint to fetch a JWT
endpoint_token = /path/to/obtain/jwt/auth/token

# endpoint to add the chipnumber
# use chipNumber and connectorUid as POST params
endpoint_chip_number = /path/to/api/endpoint